<!-- <div *ngIf="images && images.length > 0" class="w-full h-full bg-blue-500">
  <img
    *ngFor="let item of images, let i =index "
    [src]="item.imageSrc"
    [alt]="item.imageSrc"
    [ngClass]="{'block':selectedIndex === i}"
  />
</div> -->

<div class="w-full h-full m-auto overflow-hidden">
  @for (item of images; track $index) {
    <h1  class="absolute top-1/2 text-center w-full h-1/6 text-5xl z-10 text-white font-bold" [ngClass]="{'img-active':selectedIndex === $index}">{{item.text}}</h1>
    <img
    class="img-not-active"
    [src]="item.imageSrc"
    [alt]="item.imageAlt"
    [ngClass]="{'img-active':selectedIndex === $index}"
    />
  }
  

  <!-- <img src="images/logo condji-02.png" alt=""> -->
</div>
