<!-- <div *ngIf="images && images.length > 0" class="w-full h-full bg-blue-500">
  <img
    *ngFor="let item of images, let i =index "
    [src]="item.imageSrc"
    [alt]="item.imageSrc"
    [ngClass]="{'block':selectedIndex === i}"
  />
</div> -->

<div class="w-full m-auto overflow-hidden">
  @for (item of images; track $index) {
    <div class="absolute h-full w-full flex justify-center items-center">
      
      <h1  class=" top-auto text-center w-full h-1/6 z-10 text-white font-bold" style="font-size: 2.5vw;" [ngClass]="{'img-active':selectedIndex === $index}">{{item.text}}</h1>
    </div>
    <img
    class="img-not-active h-full w-auto lg:w-full lg:h-auto"
    [src]="item.imageSrc"
    [alt]="item.imageAlt"
    [ngClass]="{'img-active':selectedIndex === $index}"
    />
  }
  

  <!-- <img src="images/logo condji-02.png" alt=""> -->
</div>
