<div class="flex justify-between items-center p-4">
  <h1 class="text-3xl">Médécin</h1>
  <a
    class="text-ps-green font-bold w-1/5 text-center"
    routerLink="/dashboard/doctors/"
    ><i-feather name="corner-up-left" class="h-full"></i-feather
  ></a>
</div>
<form
  class="w-11/12 h-auto m-auto p-4 flex flex-col justify-start items-center"
  (ngSubmit)="onSubmit()"
  [formGroup]="doctorForm"
>
  <div class="row">
    <div class="flex flex-col w-[48%]">
      <label for="last-name">Nom du médécin</label>
      <input
        type="text"
        id="last-name"
        formControlName="lastName"
        class="input"
        required
      />
    </div>
    <div class="flex flex-col w-[48%]">
      <label for="first-name">Prenom du médécin</label>
      <input
        type="text"
        id="first-name"
        formControlName="firstName"
        class="input"
        required
      />
    </div>
  </div>
  <div class="row">
    <div class="flex flex-col w-[48%]">
      <label for="speciality">Spécialité du médécin</label>
      <input
        type="text"
        id="speciality"
        formControlName="speciality"
        class="input"
        required
      />
    </div>
    

    <!-- <div class="flex flex-col w-[48%]">
      <label for="speciality">secteur d'activité du médécin</label>
      <select
        type="text"
        id="speciality"
        formControlName="secteur"
        class="input"
        required
      >
        <option value="prv">Privée</option>
        <option value="pub">Public</option>
      </select>
    </div> -->
  </div>
  <!-- activity -->
  <div class="row">
    <div class="flex flex-col w-1/2" [formGroup]="activityGroup">
      <label for="activity">Activités/compétences</label>
      <div
        class="w-full flex justify-start items-start flex-wrap mb-3 p-1 h-auto"
      >
        @for (item of activity; track $index) {
        <div
          class="w-auto h-8 p-1 flex justify-center gap-2 items-center text-center rounded-md bg-blue-100 m-1"
        >
          <p>{{ item }}</p>
          <a
            type="button"
            (click)="removeActivity($index)"
            class="flex h-full justify-center items-center"
            ><i-feather name="x"></i-feather
          ></a>
        </div>
        }
      </div>
      <textarea
        class="w-full border p-2 border-ps-green focus:border-ps-orange focus:outline-none focus:border-2"
        formControlName="libelle"
        id="activity"
        (keyup)="onKeyUpAc($event)"
      ></textarea>
    </div>
  </div>
  <!-- end activity -->
  <div class="row">
    <div class="flex flex-col w-[48%]">
      <label for="tel">Numero téléphone du médécin</label>
      <input
        type="text"
        id="tel"
        formControlName="tel"
        class="input"
        required
      />
    </div>
    <div class="flex flex-col w-[48%]">
      <label for="email">Email du médécin</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="input"
        required
      />
    </div>
  </div>
  <!-- adresse -->
  <div class="row mb-5 mt-10">
    <input
      type="button"
      class="w-2/5 h-[5vh] flex justify-center items-center bg-white border border-gray-500 hover:shadow-lg transition-all font-bold text-2xl text-gray-600 text-center"
      value="Annuler"
      routerLink="/dashboard/doctors/"
    />
    <button
      type="submit"
      class="w-1/5 h-[5vh] bg-ps-green font-bold text-2xl text-white text-center hover:shadow-md transition-all hover:shadow-ps-green hover:[text-shadow:_#FFF_1px_0_100px]"
      [disabled]="!doctorForm.valid"
    >
      Enregistrer
    </button>
  </div>
</form>
