<div class="flex justify-between items-center p-4">
  <h1 class="text-3xl">Médécin</h1>
  <a
    class="text-ps-green font-bold w-1/5 text-center"
    routerLink="/dashboard/doctors/"
    ><i-feather name="corner-up-left" class="h-full"></i-feather
  ></a>
</div>
<form
  class="w-11/12 h-auto m-auto p-4 flex flex-col justify-start items-center"
  (ngSubmit)="onSubmit()"
  [formGroup]="doctorForm"
>
  <div class="row">
    <div class="flex flex-col w-[48%]">
      <label for="last-name">Nom du médécin</label>
      <input
        type="text"
        id="last-name"
        formControlName="lastName"
        class="input"
        required
      />
    </div>
    <div class="flex flex-col w-[48%]">
      <label for="first-name">Prenom du médécin</label>
      <input
        type="text"
        id="first-name"
        formControlName="firstName"
        class="input"
        required
      />
    </div>
  </div>
  <div class="row">
    <div class="flex flex-col w-[48%]">
      <label for="speciality">Spécialité du médécin</label>
      <input
        type="text"
        id="speciality"
        formControlName="speciality"
        class="input"
        required
      />
    </div>
    <div class="flex flex-col w-[48%]">
      <label for="type">Pays</label>
      <select
        type="text"
        id="type"
        formControlName="country"
        class="input"
        required
      >
        @for (item of countries; track $index) {
        <option value="{{ item.translations.fra.common }} {{ item.flag }}">
          {{ item.flag }} {{ item.translations.fra.common }}
          {{ item.idd?.root || "" }}{{ item.idd?.suffixes?.[0] || '' }}
        </option>

        }
      </select>
    </div>
    

    <!-- <div class="flex flex-col w-[48%]">
      <label for="speciality">secteur d'activité du médécin</label>
      <select
        type="text"
        id="speciality"
        formControlName="secteur"
        class="input"
        required
      >
        <option value="prv">Privée</option>
        <option value="pub">Public</option>
      </select>
    </div> -->
  </div>
  <div class="row">
    <div class="flex flex-col gap-2 w-[48%]" >
      <label for="manager-name">Numéros de téléphone</label>
      <div class="input flex justify-around items-center" [formGroup]="numberGroup">
        <select
          type="text"
          id="type"
          formControlName="cca2"
          class="h-full w-2/12 outline-none"
          required
        >
          @for (item of countries; track $index) {
          <option value="{{ item.cca2 }}|{{ item.flag }}|{{ item.idd?.root || '' }}{{ item.idd?.suffixes?.[0] || '' }}">
            {{ item.flag }} {{ item.idd?.root || '' }}{{ item.idd?.suffixes?.[0] || '' }}</option>

          }
        </select>
        <input
          type="number"
          id="manager-name"
          formControlName="number"
          class="h-full w-6/12 bg-gray-100 p-2"
          required
        />
        <input
        type="button"
        class="bg-ps-green p-1 text-white font-bold text-center w-3/12 hover:shadow-md hover:shadow-ps-green hover:[text-shadow:_#FFF_1px_0_50px] transition-all h-[4vh] m-1"
        (click)="addNumber()"
        [disabled]="!numberGroup.valid"
        value="Ajouter"
      />
        
      </div>
      <table class="w-full">
        <thead class="w-full h-14 bg-ps-green text-white">
          <tr>  
            <th>Pays</th>
            <th>Numero</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="text-center h-10" formArrayName="tel">
          <tr
            class="h-14"
            *ngFor="
              let item of doctorForm.controls.tel.controls;
              let i = index
            "
            [formGroupName]="i"
          >
          <td>
            <input
              type="text"
              id="flag"
              formControlName="flag"
              class="w-11/12 h-10 px-2 py-2 text-gray-500 focus:outline-none focus:border-2 focus:border-ps-orange border border-ps-green"
              required
              [disabled]="true"
            />
          </td>
          <td>
            <input
              type="text"
              class="w-11/12 h-10 px-2 py-2 text-gray-500 focus:outline-none focus:border-2 focus:border-ps-orange border border-ps-green"
              formControlName="number"
              id="number"
              required
              [disabled]="true"

            />
          </td>
            <td>
              <a (click)="removeNumber(i)">
                <i-feather
                  name="x"
                  class="text-red-500 transition-all"
                ></i-feather>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- activity -->
  <div class="row">
    <div class="flex flex-col w-1/2" [formGroup]="activityGroup">
      <label for="activity">Activités/compétences</label>
      <div
        class="w-full flex justify-start items-start flex-wrap mb-3 p-1 h-auto"
      >
        @for (item of activity; track $index) {
        <div
          class="w-auto h-8 p-1 flex justify-center gap-2 items-center text-center rounded-md bg-blue-100 m-1"
        >
          <p>{{ item }}</p>
          <a
            type="button"
            (click)="removeActivity($index)"
            class="flex h-full justify-center items-center"
            ><i-feather name="x"></i-feather
          ></a>
        </div>
        }
      </div>
      <textarea
        class="w-full border p-2 border-ps-green focus:border-ps-orange focus:outline-none focus:border-2"
        formControlName="libelle"
        id="activity"
        (keyup)="onKeyUpAc($event)"
      ></textarea>
    </div>
  </div>
  <!-- end activity -->
  <div class="row">
    <div class="flex flex-col w-[48%]">
      <label for="email">Email du médécin</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="input"
        required
      />
    </div>
    <div class="flex flex-col w-[48%]">
      <label for="email">En savoir plus sur le médécin</label>
      <input
        type="url"
        id="social"
        formControlName="social"
        class="input"
        required
      />
    </div>
  </div>
  <!-- adresse -->
  <div class="row mb-5 mt-10">
    <input
      type="button"
      class="w-2/5 h-[5vh] flex justify-center items-center bg-white border border-gray-500 hover:shadow-lg transition-all font-bold text-2xl text-gray-600 text-center"
      value="Annuler"
      routerLink="/dashboard/doctors/"
    />
    <button
      type="submit"
      class="w-1/5 h-[5vh] bg-ps-green font-bold text-2xl text-white text-center hover:shadow-md transition-all hover:shadow-ps-green hover:[text-shadow:_#FFF_1px_0_100px]"
      [disabled]="!doctorForm.valid"
    >
      Enregistrer
    </button>
  </div>
</form>
