<!-- <p>nos-mission works!</p> -->
<!-- <div class="w-full h-full flex flex-col justify-start items-center">
  <div class="w-10/12 border-2 border-ps-green">
    <div id="editorjs"></div>
  </div>
  <button (click)="onsubmit()" >Enreigistre</button>
</div> -->
<!-- <ckeditor [editor]="Editor" [config]="config" data="<p>Hello, world!</p>"></ckeditor> -->
<div class="flex justify-center items-start">
  <div *ngIf="isBrowser && Editor" class="main-container mb-4">
    <div
      class="prose editor-container editor-container_classic-editor"
      #editorContainerElement
    >
      <div class="editor-container__editor">
        <div #editorElement>
          <ckeditor
            [editor]="Editor"
            [config]="config"
            [(ngModel)]="model.editorData"
            *ngIf="isLayoutReady"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-around items-center w-[500px]">
    <select
      class="w-52 h-10 border border-ps-green"
      required
      id=""
	  [(ngModel)]="pageName"
	  (change)="getPage()"
    >
      <option value="qui-sommes-nous">qui sommes nous ?</option>
      <option value="nos-mission">nos services</option>
      <option value="nos-partenaires">nos partenaires</option>
      <option value="actualites-sante">actualites sante</option>
      <option value="repertoires-adresses-geolocalisees">repertoires adresses geolocalisees</option>
      <option value="bien-etre-infos-utiles">bien etre infos utiles</option>
      <option value="accessibilite-conformite-partielle">accessibilite conformite partielle</option>
      <option value="conditions-generales-utilisation">conditions generales utilisation</option>
      <option value="mentions-legales">mentions legales</option>
      <option value="politique-de-confidentialite">politique de confidentialite</option>
      <option value="media-sante">media sante</option>
      <option value="urgence" class="text-red-500">En cas d'urgence</option>

    </select>
	<button class="bg-ps-green w-52 h-10 text-white" (click)="onsubmit()">
	  Enregistrer
	</button>
  </div>
</div>

<!-- <div class="prose" [innerHTML]="model.editorData"></div> -->
