<div class="w-full h-full">
  <div class="w-full h-[300px] mt-[5%] flex justify-center items-center">
    <div
      class="w-full lg:w-11/12 h-full flex justify-center items-center overflow-hidden"
    >
      <img
        *ngIf="baseUrl + article[0].image"
        [src]="baseUrl + article[0].image"
        class="min-h-full min-w-full"
      />
    </div>
  </div>
  <div
    class="w-full min-h-40 mt-8 md:mt-[5%] flex flex-col items-center justify-center"
  >
    <h1
      class="w-11/12 lg:w-1/2 text-center text-2xl lg:text-3xl font-bold mb-4"
    >
      {{ article[0].title }}
    </h1>
    <p class="text-left text-sm mb-6">
      Publié le {{ Date(article[0].created_at) }} <br />
    </p>
    <div class="w-11/12 lg:w-1/2">
      <app-blog [content]="article[0].content"></app-blog>

      <!-- <div class="prose ck-content" [innerHTML]="getSanitizedContent(content)"></div> -->
    </div>
    <div class="w-11/12 lg:w-1/2 h-20 flex gap-2 items-end">
      <button
        (click)="likeArticle()"
        [ngClass]="{ 'text-blue-500': article[0].likeByHim }"
        class="h-10 flex items-center justify-center gap-1"
      >
        <i-feather class="big" name="thumbs-up"></i-feather>
        <span class="h-5 font-bold">{{ article[0].likesCount }}</span>
      </button>
      <button
        (click)="dislikeArticle()"
        [ngClass]="{ 'text-red-500': article[0].dislikeByHim }"
        class="h-10 flex items-center justify-center gap-1"
      >
        <i-feather class="big" name="thumbs-down"></i-feather>
        <span class="h-5 font-bold">{{ article[0].dislikesCount }}</span>
      </button>

      <button
        class="ml-8 h-10  flex items-center justify-center hover:text-ps-orange transition-all"
        (click)="shareArticle(article[0], $event)"
      >
        <i-feather name="share-2"></i-feather>
      </button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
