<h1 class="text-3xl m-4">Structure</h1>
<table class="table-auto w-[98%] m-auto">
  <thead class="w-full h-14 bg-ps-green text-left text-white">
    <tr>
      <th class="pl-2">NOM</th>
      <th class="pl-2">Domaine d'activité</th>
      <th class="pl-2">Nom du responsable</th>
      <th class="pl-2">Email</th>
      <th class="pl-2">Téléphone</th>
      <th class="pl-2">ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr class="border-2 h-14">
      <td class="pl-2">The Sliding Mr. Bones (Next Stop, Pottersville)</td>
      <td class="pl-2">Malcolm Lockyer</td>
      <td class="pl-2">1961</td>
      <td class="pl-2">The Sliding Mr. Bones (Next Stop, Pottersville)</td>
      <td class="pl-2">Malcolm Lockyer</td>
      <td class="pl-2"></td>
    </tr>
  </tbody>
</table>
