<div class="flex justify-between items-center p-4">
  <h1 class="text-3xl">Adresse et Médécins</h1>
  <a
    class="text-ps-green font-bold w-1/5 text-center"
    routerLink="/dashboard/stuctures/"
    ><i-feather name="corner-up-left" class="h-full"></i-feather
  ></a>
</div>
<div class="w-full h-auto flex flex-col justify-start items-center">
  <div class="row-f">
    <!-- adresse doctors -->
    <table class="w-[49%]">
      <thead class="w-full h-14 bg-ps-green text-white">
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>tel</th>
          <th>
            <a class="font-bold w-1/5 text-center" (click)="loadDoctor()"
              ><i-feather name="user-plus" class="text-white"></i-feather
            ></a>
          </th>
        </tr>
      </thead>
      <tbody class="text-center h-10">
        @for (item of adresseDoctors; track $index) {
        <tr class="h-14">
          <td>{{ item.last_name }}</td>
          <td>{{ item.first_name }}</td>
          <td>{{ item.tel }}</td>
          <td class="h-10 mt-2 gap-2 flex justify-center items-center">
            @if (adresseId) {
            <a (click)="detachDoctor(adresseId, item.id)">
              <i-feather
                name="trash-2"
                class="text-red-500 transition-all"
              ></i-feather>
            </a>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
    <!--adresse doctors -->
    <!-- doctors -->
    @if (doctors.length || !adresseDoctors.length) {
    <table class="w-[49%]">
      <thead class="w-full h-14 bg-ps-green text-white">
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>tel</th>
          <th>
            <a
              class="text-white font-bold w-1/5 text-center"
              routerLink="/dashboard/stuctures/"
              ><i-feather name="users-plus" class="h-full"></i-feather
            ></a>
          </th>
        </tr>
      </thead>
      <tbody class="text-center h-10" formArrayName="network">
        @for (item of doctors; track $index) {
        <tr class="h-14">
          <td>{{ item.last_name }}</td>
          <td>{{ item.first_name }}</td>
          <td>{{ item.tel }}</td>
          @if (adresseId) {
          <td>
            <a (click)="attachDoctor(adresseId, item.id)">
              <i-feather
                name="plus-circle"
                class="text-ps-green transition-all"
              ></i-feather>
            </a>
          </td>
          }
        </tr>
        }
      </tbody>
    </table>

    }
    <!--doctors -->
  </div>
</div>
