<div class="flex justify-between items-center p-4">
  <h1 class="text-3xl">Structure</h1>
  <a
    class="text-ps-green font-bold w-1/5 text-center"
    routerLink="/dashboard/stuctures/"
    ><i-feather name="corner-up-left" class="h-full"></i-feather
  ></a>
</div>
<form
  class="w-11/12 h-auto m-auto p-4 flex flex-col justify-start items-center"
  (ngSubmit)="onSubmit()"
  [formGroup]="structureForm"
>
  <div class="row">
    <div class="flex flex-col w-[48%]">
      <label for="name">Nom de la structure <span class="font-bold text-red-500">*</span></label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="input"
        required
      />
    </div>
    <div class="flex flex-col w-[48%]">
      <label for="damaine">Domaine de la structure <span class="font-bold text-red-500">*</span></label>
      <input
        type="text"
        id="damaine"
        formControlName="domaine"
        class="input"
        required
      />
    </div>
  </div>
  <div class="row">
    <div class="flex flex-col w-[48%]">
      <label for="managerName">Nom du responsble</label>
      <input
        type="text"
        id="managerName"
        formControlName="managerName"
        class="input"
      />
    </div>
    <div class="flex flex-col w-[48%]">
      <label for="manager-title">Titre du responsable</label>
      <input
        type="text"
        id="manager-title"
        formControlName="managerTitle"
        class="input"
      />
    </div>
  </div>
  
  <div class="row">
    <div class="flex flex-col w-[48%]">
      <label for="type">Type de structure <span class="font-bold text-red-500">*</span></label>
      <select
        type="text"
        id="type"
        formControlName="type"
        class="input"
        required
        (change)="pharmacieChange()"
      >
        <option value="ch">Centre/Structure de soins</option>
        <option value="ph">Pharmacie</option>
        <option value="lb">Laboratoires</option>
        <option value="co">Centre Optique</option>
      </select>
    </div>
    @if (structureForm.value.type==='ph') {

    <div class="ml-5 flex flex-col w-3/12">
      <label for="openingHours">De garde</label>
      <div class="w-full flex justify-start gap-4 items-center">
        <select
          class="h-[5.5vh] w-2/5 text-center border border-ps-green"
          required
          formControlName="isGarde"
          id=""
          (change)="isH24Change()"
        >
          <option value="true">oui</option>
          <option value="false">non</option>
        </select>
      </div>
    </div>
    }
  </div>
  <div class="row">
    
    <div class="flex flex-col w-[48%]">
      <label for="email">Email de la structure <span class="font-bold text-red-500">*</span></label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="input"
        required
      />
    </div>
    <div class="flex flex-col w-[48%]">
      <label for="email">En savoir plus sur la structure</label>
      <input
        type="url"
        id="social"
        formControlName="social"
        class="input mt-2"
      />
    </div>
  </div>
  <!-- pays -->
  <div class="row">
    <div class="flex flex-col w-[48%]">
      <label for="type">Pays <span class="font-bold text-red-500">*</span></label>
      <select
        type="text"
        id="type"
        formControlName="country"
        class="input"
        required
      >
        @for (item of countries; track $index) {
        <option value="{{ item.translations.fra.common }}||{{ item.flags.png }}">
          {{ item.flag }} {{ item.translations.fra.common }}
          {{ item.idd?.root || "" }}{{ item.idd?.suffixes?.[0] || '' }}
        </option>

        }
      </select>
    </div>
    
  </div>
  <!-- pays -->
  <div class="row-f">
    <div class="flex flex-col gap-2 w-[48%]" >
      <label for="manager-name">Numéros de téléphone <span class="font-bold text-red-500">*</span></label>
      <div class="input flex justify-around items-center" [formGroup]="numberGroup">
        <select
          type="text"
          id="type"
          formControlName="cca2"
          class="h-full w-2/12 outline-none"
          required
        >
          @for (item of countries; track $index) {
          <option value="{{ item.cca2 }}|{{ item.flag }}|{{ item.idd?.root || '' }}{{ item.idd?.suffixes?.[0] || '' }}">
            {{ item.flag }} {{ item.idd?.root || '' }}{{ item.idd?.suffixes?.[0] || '' }}</option>

          }
        </select>
        <input
          type="number"
          id="manager-name"
          formControlName="number"
          class="h-full w-6/12 bg-gray-100 p-2"
          required
        />
        <input
        type="button"
        class="bg-ps-green p-1 text-white font-bold text-center w-3/12 hover:shadow-md hover:shadow-ps-green hover:[text-shadow:_#FFF_1px_0_50px] transition-all h-[4vh] m-1"
        (click)="addNumber()"
        [disabled]="!numberGroup.valid"
        value="Ajouter"
      />
        
      </div>
      <table class="w-full">
        <thead class="w-full h-14 bg-ps-green text-white">
          <tr>  
            <th>Pays</th>
            <th>Numero</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="text-center h-10" formArrayName="tel">
          <tr
            class="h-14"
            *ngFor="
              let item of structureForm.controls.tel.controls;
              let i = index
            "
            [formGroupName]="i"
          >
          <td>
            <input
              type="text"
              id="flag"
              formControlName="flag"
              class="w-11/12 h-10 px-2 py-2 text-gray-500 focus:outline-none focus:border-2 focus:border-ps-orange border border-ps-green"
              required
              [disabled]="true"
            />
          </td>
          <td>
            <input
              type="text"
              class="w-11/12 h-10 px-2 py-2 text-gray-500 focus:outline-none focus:border-2 focus:border-ps-orange border border-ps-green"
              formControlName="number"
              id="number"
              required
              [disabled]="true"

            />
          </td>
            <td>
              <a (click)="removeNumber(i)">
                <i-feather
                  name="x"
                  class="text-red-500 transition-all"
                ></i-feather>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   
  </div>
  
  @if (structureForm.value.type !='ph') {

  <div class="row" [formGroup]="hoursGroup">
    <div class="flex flex-col w-4/12">
      <label for="openingHours">Jours d'ouverture <span class="font-bold text-red-500">*</span></label>
      <select
        class="h-[5.5vh] border border-ps-green"
        formControlName="libelle"
        required
        id=""
      >
        <option value="Lundi">Lundi</option>
        <option value="Mardi">Mardi</option>
        <option value="Mercredi">Mercredi</option>
        <option value="Jeudi">Jeudi</option>
        <option value="Vendredi">Vendredi</option>
        <option value="Samedi">Samedi</option>
        <option value="Dimanche">Dimanche</option>
        <option value="Tous les jours">Tous les jours</option>
      </select>
    </div>
    <div class="ml-5 flex flex-col w-3/12">
      <label for="openingHours">24H/24H</label>
      <div class="w-full flex justify-start gap-4 items-center">
        <select
          class="h-[5.5vh] w-2/5 text-center border border-ps-green"
          required
          formControlName="isH24"
          id=""
          (change)="isH24Change()"
        >
          <option value="true">oui</option>
          <option value="false">non</option>
        </select>
      </div>
    </div>
    @if (!isH24) {
    <div class="flex flex-col w-3/12">
      <label for="openingHours">Heure d'ouverture</label>
      <div class="w-full flex justify-start gap-4 items-center">
        <select
          class="h-[5.5vh] w-2/5 text-center border border-ps-green"
          required
          formControlName="hStartH"
          id=""
        >
          @for (item of hour; track $index) {
          <option [value]="item">{{ item }}</option>
          }
        </select>
        <select
          class="h-[5.5vh] w-2/5 text-center border border-ps-green"
          required
          formControlName="hStartM"
          id=""
        >
          @for (item of minute; track $index) {
          <option [value]="item">{{ item }}</option>
          }
        </select>
      </div>
    </div>
    <div class="flex flex-col w-3/12">
      <label for="openingHours">Heure de fermeture</label>
      <div class="w-full flex justify-start gap-4 items-center">
        <select
          class="h-[5.5vh] w-2/5 text-center border border-ps-green"
          required
          formControlName="hEndH"
          id=""
        >
          @for (item of hour; track $index) {
          <option [value]="item">{{ item }}</option>
          }
        </select>
        <select
          class="h-[5.5vh] w-2/5 text-center border border-ps-green"
          required
          formControlName="hEndM"
          id=""
        >
          @for (item of minute; track $index) {
          <option [value]="item">{{ item }}</option>
          }
        </select>
      </div>
    </div>
    }

    <div class="flex justify-center items-center w-1/12 h-[7vh]">
      <input
        type="button"
        class="bg-ps-green text-white font-bold text-center w-full hover:shadow-md hover:shadow-ps-green hover:[text-shadow:_#FFF_1px_0_50px] transition-all h-[4vh] m-1"
        (click)="addHours()"
        [disabled]="!hoursGroup.valid"
        value="Ajouter"
      />
    </div>
  </div>
  <div class="row">
    <table class="w-1/2" *ngIf="hours.value.length">
      <thead class="w-full h-14 bg-ps-green text-white">
        <tr>
          <th class="text-right">horaire</th>
          <th class="text-right">heure de debut</th>
          <th class="text-right">heure de fin</th>
          <th class="text-right"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="h-12" *ngFor="let item of hours.value; let i = index">
          <td class="text-right">{{ item.libelle }}</td>
          <td class="text-right">{{ item.hStart }}</td>
          <td class="text-right">{{ item.hEnd }}</td>
          <td class="text-right">
            <a (click)="removeHours(i)">
              <i-feather
                name="x"
                class="text-red-500 transition-all"
              ></i-feather>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  }
  <!-- end assurance -->
  <div class="row">
    <div class="flex flex-col w-11/12" [formGroup]="assurenceGroup">
      <label for="assurance">Assurance</label>
      <div
        class="w-full flex justify-start items-start flex-wrap mb-3 p-1 h-auto"
      >
        @for (item of assurances; track $index) {
        <div
          class="w-auto h-8 p-1 flex justify-center gap-2 items-center text-center rounded-md bg-blue-100 m-1"
        >
          <p>{{ item }}</p>
          <a
            type="button"
            (click)="removeAssurance($index)"
            class="flex h-full justify-center items-center"
            ><i-feather name="x"></i-feather
          ></a>
        </div>
        }
      </div>
      <textarea
        class="w-full border p-2 border-ps-green focus:border-ps-orange focus:outline-none focus:border-2"
        formControlName="libelle"
        id="assurance"
        (keyup)="onKeyUp($event)"
      >
      </textarea>
    </div>
  </div>
  <!-- end assurance -->
  <!-- activity -->
  <div class="row">
    <div class="flex flex-col w-11/12" [formGroup]="activityGroup">
      <label for="activity">Activités de la structure <span class="font-bold text-red-500">*</span></label>
      <div
        class="w-full flex justify-start items-start flex-wrap mb-3 p-1 h-auto"
      >
        @for (item of activity; track $index) {
        <div
          class="w-auto h-8 p-1 flex justify-center gap-2 items-center text-center rounded-md bg-blue-100 m-1"
        >
          <p>{{ item }}</p>
          <a
            type="button"
            (click)="removeActivity($index)"
            class="flex h-full justify-center items-center"
            ><i-feather name="x"></i-feather
          ></a>
        </div>
        }
      </div>
      <textarea
        class="w-full border p-2 border-ps-green focus:border-ps-orange focus:outline-none focus:border-2"
        formControlName="libelle"
        id="activity"
        (keyup)="onKeyUpAc($event)"
      ></textarea>
    </div>
  </div>
  <!-- end activity -->
  <!-- activity phare-->
  <div class="row">
    <div class="flex flex-col w-11/12" [formGroup]="activityPhGroup">
      <label for="activity">Activités phares de la structure <span class="font-bold text-red-500">*</span></label>
      <div
        class="w-full flex justify-start items-start flex-wrap mb-3 p-1 h-auto"
      >
        @for (item of activityPh; track $index) {
        <div
          class="w-auto h-8 p-1 flex justify-center gap-2 items-center text-center rounded-md bg-blue-100 m-1"
        >
          <p>{{ item }}</p>
          <a
            type="button"
            (click)="removeActivityPh($index)"
            class="flex h-full justify-center items-center"
            ><i-feather name="x"></i-feather
          ></a>
        </div>
        }
      </div>
      <textarea
        class="w-full border p-2 border-ps-green focus:border-ps-orange focus:outline-none focus:border-2"
        formControlName="libelle"
        id="activity"
        (keyup)="onKeyUpAcPh($event)"
      ></textarea>
    </div>
  </div>
  <!-- end activity phare-->

  <div class="row">
    <div class="w-[48%]">
      <div class="w-[48%]"></div>
      <h1>Adresses <span class="font-bold text-red-500">*</span></h1>
    </div>
    <div class="w-[48%]">
      <h1>Reseaux sociaux</h1>
    </div>
  </div>
  <!-- adresse / network-->
  <div class="row-f">
    <!-- adresse -->
    <table class="w-[48%]">
      <thead class="w-full h-14 bg-ps-green text-white">
        <tr>
          <th>Adresse</th>
          <th>Coordonnée GPS</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-center h-10" formArrayName="adresse">
        <tr
          class="h-14"
          *ngFor="
            let item of structureForm.controls.adresse.controls;
            let i = index
          "
          [formGroupName]="i"
        >
          <td>
            <input
              type="text"
              id="nadrees"
              formControlName="nadress"
              class="w-11/12 h-10 px-2 py-2 text-gray-500 focus:outline-none focus:border-2 focus:border-ps-orange border border-ps-green"
            />
          </td>
          <td>
            <input
              type="text"
              class="w-11/12 h-10 px-2 py-2 text-gray-500 focus:outline-none focus:border-2 focus:border-ps-orange border border-ps-green"
              formControlName="eadress"
              id="eadrees"
            />
          </td>
          <td>
            <a (click)="removeAdresse(i)">
              <i-feather
                name="x"
                class="text-red-500 transition-all"
              ></i-feather>
            </a>
          </td>
        </tr>
        <!-- adresse form -->
        <tr [formGroup]="addresseGroup" class="h-14">
          <td>
            <input
              type="text"
              id="nadrees"
              formControlName="nadress"
              class="w-11/12 h-10 px-2 py-2 text-gray-500 focus:outline-none focus:border-2 focus:border-ps-orange border border-ps-green"
              required
            />
          </td>
          <td>
            <input
              type="text"
              class="w-11/12 h-10 px-2 py-2 text-gray-500 focus:outline-none focus:border-2 focus:border-ps-orange border border-ps-green"
              formControlName="eadress"
              id="eadrees"
              required
            />
          </td>
        </tr>
      </tbody>
      <tfoot>
        <div class="w-full">
          <input
            type="button"
            class="bg-ps-green text-white font-bold text-center w-1/2 hover:shadow-md hover:shadow-ps-green hover:[text-shadow:_#FFF_1px_0_50px] transition-all h-[4vh] m-1"
            (click)="addAdresse()"
            [disabled]="!addresseGroup.valid"
            value="Ajouter"
          />
        </div>
      </tfoot>
    </table>
    <!--end adresse -->
    <!-- netwok -->
    <table class="w-[48%]">
      <thead class="w-full h-14 bg-ps-green text-white">
        <tr>
          <th>Nom</th>
          <th>Lien</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-center h-10" formArrayName="network">
        <tr
          class="h-14"
          *ngFor="
            let item of structureForm.controls.network.controls;
            let i = index
          "
          [formGroupName]="i"
        >
          <td>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="w-11/12 h-10 px-2 py-2 text-gray-500 focus:outline-none focus:border-2 focus:border-ps-orange border border-ps-green"
            />
          </td>
          <td>
            <input
              type="text"
              id="link"
              formControlName="link"
              class="w-11/12 h-10 px-2 py-2 text-gray-500 focus:outline-none focus:border-2 focus:border-ps-orange border border-ps-green"
            />
          </td>
          <td>
            <a (click)="removeNetwork(i)">
              <i-feather
                name="x"
                class="text-red-500 transition-all"
              ></i-feather>
            </a>
          </td>
        </tr>
        <!-- network form -->
        <tr [formGroup]="networkGroup" class="h-14">
          <td>
            <select
              type="text"
              formControlName="name"
              class="w-11/12 h-10 px-2 py-2 text-gray-500 focus:outline-none focus:border-2 focus:border-ps-orange border border-ps-green"
              required
            >
              <option value="facebook">FaceBook</option>
              <option value="instagram">Instagram</option>
              <option value="tiktok">TikTok</option>
              <option value="youtube">Youtube</option>
              <option value="x">X</option>
              <option value="web">Site web</option>
              <option value="linkedin">Linkedin</option>
            </select>
          </td>
          <td>
            <input
              type="text"
              class="w-11/12 h-10 px-2 py-2 text-gray-500 focus:outline-none focus:border-2 focus:border-ps-orange border border-ps-green"
              formControlName="link"
              required
            />
          </td>
        </tr>
      </tbody>
      <tfoot>
        <div class="w-full">
          <input
            type="button"
            class="bg-ps-green text-white text-center font-bold hover:shadow-md hover:shadow-ps-green hover:[text-shadow:_#FFF_1px_0_50px] transition-all w-1/2 h-[4vh] m-1"
            (click)="addNetwork()"
            [disabled]="!networkGroup.valid"
            value="Ajouter"
          />
        </div>
      </tfoot>
    </table>
    <!--end netwok -->
  </div>
  <div class="row mb-5 mt-10">
    <input
      type="button"
      class="w-2/5 h-[5vh] flex justify-center items-center bg-white border border-gray-500 hover:shadow-lg transition-all font-bold text-2xl text-gray-600 text-center"
      value="Annuler"
      routerLink="/dashboard/stuctures/"
    />
    <button
      type="submit"
      class="btn"
      [disabled]="!structureForm.valid"
    >
      Enregistrer
    </button>
  </div>
</form>
