<div class="w-full h-full bg-gray-200">
  <div
    class="w-full h-full justify-center items-center lg:items-start flex flex-col bg-gray-100"
  >
    <!-- <div class="h-[88vh] w-[5vw] fixed mt-36 bg-ps-green"></div> -->

    <div
      class="w-full md:w-8/12 mt-[360px] sm:mt-[500px] lg:w-5/12 lg:mt-[160px] mb-[8.6vw] flex flex-col items-center"
    >
      <div class="w-full pl-8 h-16 flex justify-start items-center gap-4 mb-4">
        <span class="material-symbols-outlined text-2xl text-ps-green">
          tune
        </span>
        <select
          class="w-5/12 h-4/5 p-4 border-b outline-none text-gray-600 border-black rounded-t bg-gray-200"
          [formControl]="type"
          (change)="onFilter()"
          type="text"
        >
          <option value="all">Tout</option>
          <option value="ch">Centre/Structure de soins</option>
          <option value="ph">Pharmacie</option>
          <option value="lb">Laboratoires</option>
          <option value="co">Centre Optique</option>
          <option value="doc">Médécins</option>
        </select>
      </div>
      @if (meta) { @if (structures.length) { @if ( structures.length<25) {
      <h1 class="text-3xl w-11/12 font-bold mb-4">
        Résultats pour <<{{ word }}>> de
        {{ meta.total - structures.length + 1 }} à {{ meta.total }} sur
        {{ meta.total }}
      </h1>
      } @else {
      <h1 class="text-3xl w-11/12 font-bold mb-4">
        Résultats pour <<{{ word }}>> de
        {{ meta.current_page * 25 - (structures.length - 1) }} à
        {{ meta.current_page * 25 }} sur {{ meta.total }}
      </h1>

      } } @else if (doctors.length) { @if ( doctors.length<25) {
      <h1 class="text-3xl w-11/12 font-bold mb-4">
        Résultats pour <<{{ word }}>> de {{ meta.total - doctors.length + 1 }} à
        {{ meta.total }} sur
        {{ meta.total }}
      </h1>
      } @else {
      <h1 class="text-3xl w-11/12 font-bold mb-4">
        Résultats pour <<{{ word }}>> de
        {{ meta.current_page * 25 - (doctors.length - 1) }} à
        {{ meta.current_page * 25 }} sur {{ meta.total }}
      </h1>

      } }

      <!-- } -->
      @if (meta.previous_page_url||meta.next_page_url) {
      <div class="w-full pl-8 h-16 flex justify-start gap-4 items-center mb-4">
        @if (meta.previous_page_url) {

        <button
          (click)="next(meta.previous_page_url)"
          class="w-40 h-14 bg-ps-green rounded-2xl flex justify-center gap-2 items-center font-bold text-xl text-white"
        >
          <i-feather name="arrow-left"></i-feather>
          precedent
        </button>
        } @if (meta.next_page_url) {

        <button
          (click)="next(meta.next_page_url)"
          class="w-32 h-14 bg-ps-green rounded-2xl flex justify-center gap-2 items-center font-bold text-xl text-white"
        >
          suivant
          <i-feather name="arrow-right"></i-feather>
        </button>
        }
      </div>
      } }

      <!-- <button class="md:hidden" (click)="opencart()">Carte</button> -->

      <!-- medecini -->
      @for (item of doctors; track $index) {
      <div
        class="w-11/12 sm:w-[400px] md:w-[93%] xl:w-11/12 h-auto flex flex-col items-center bg-white border-b-[1px] transition-all hover:bg-gray-200 border-ps-green shadow-lg"
        [ngClass]="{ 'cart-active': selectedIndex === item.id }"
        [id]="'structure-' + item.id"
      >
        <div class="w-full flex">
          <div
            class="w-full h-auto transition-all overflow-y-hidden m-auto flex flex-col p-2"
          >
            <div class="flex justify-start items-start gap-2">
              <span class="material-symbols-outlined text-2xl text-ps-green">
                person
              </span>
              <div>
                <h1 class="text-xl underline font-bold text-ps-green">
                  {{ item.last_name }} {{ item.first_name }}
                </h1>
                <!-- <p class="text-sm">Type de la structure</p> -->
              </div>
            </div>
            <div class="flex flex-col justify-start items-start pl-7">
              <div>
                <p class="italic">{{ item.speciality }} ,{{ item.country }}</p>
              </div>
              <div class="flex gap-1 flex-wrap">
                @for (tel of item.tel; track $index) {

                <p class="">
                  ({{ tel.prefix }}) {{ tel.number }}
                </p>
                }
              </div>
              <div>
                <p class="underline">{{ item.email }}</p>
              </div>
            </div>
            <div class="w-11/12 h-10 flex justify-between items-center">
              <button
                (click)="seeMore($index)"
                class="hover:underline text-ps-green-2 hover:text-ps-green transition-all italic"
                style="font-weight: 600"
              >
                @if (see === $index) { Cacher les adresses... }@else { Voir les
                adresses... }
              </button>
              <!-- <a
                [href]="[
                  'https://www.google.com/maps?q=' +
                    [item.adresse[0].lat, item.adresse[0].lng]
                ]"
                target="_blank"
                class="h-full w-36 flex justify-center items-center gap-2 rounded-3xl bg-ps-green-2 text-white"
              >
                <p class="bol">Y ALLER</p> -->
              <!-- <span class="material-symbols-outlined"> send </span> -->
              <!-- <i-feather name="external-link"></i-feather>
              </a> -->
            </div>
            @if (see === $index) { @for (add of item.adresse; track $index) {
            <a
              [href]="['https://www.google.com/maps?q=' + [add.lat, add.lng]]"
              class="flex justify-start items-start pl-7 hover:text-green-700 hover:underline"
            >
              <div>
                <p class="text italic">{{ add.nadress }}, ,{{ item.country }}</p>
              </div>
            </a>
            } }

            <!-- <div class="flex justify-start items-start gap-2">
                  <span class="material-symbols-outlined text-2xl text-ps-green">
                    credit_card
                  </span>
                  <div>
                    <p class="text-lg italic">{{ item.assurance }}</p>
                  </div>
                </div> -->
            <!-- <div class="flex justify-start items-start gap-2">
                  <span class="material-symbols-outlined text-2xl text-ps-green">
                    add_box
                  </span>
                  <div>
                    <p class="text-lg">{{ item.flagship_activity }}</p>
                  </div>
                </div> -->
          </div>
        </div>
      </div>
      }
      <!--end medecini -->

      <!--structure -->
      @for (item of structures; track $index) {
      <div
        class="w-11/12 sm:w-[400px] md:w-[93%] xl:w-11/12 h-auto flex flex-col items-center bg-white border-b-[1px] transition-all hover:bg-gray-200  border-ps-green"
        [ngClass]="{ 'cart-active': selectedIndex === item.id }"
        [id]="'structure-' + item.id"
      >
        <div class="w-full flex">
          <div class="w-5/6 h-auto m-auto flex flex-col p-3">
            <div class="flex justify-start items-start gap-2">
              <span class="material-symbols-outlined text-2xl text-ps-green">
                location_on
              </span>
              <div>
                <h1 class="text-xl underline font-bold text-ps-green">
                  {{ item.name }}
                </h1>
                <!-- <p class="text-sm">Type de la structure</p> -->
              </div>
            </div>
            @if (item.type!=='ph') { @if (item.hours.length) {
              <div class="flex justify-start items-start gap-2">
                <div class="flex flex-col pl-7">
                  @for (it of item.hours; track $index) { @if (it.is_h24) {
                  <p class="text-sm">{{ it.libelle }} 24H/24</p>
                  }@else {
                  <p class="text-sm">
                    {{ it.libelle }} {{ it.h_start }} - {{ it.h_end }}
                  </p>
                  } }
                </div>
              </div>
              } } @else { @switch (item.is_garde) { @case (true) {
              <div class="flex justify-start items-start gap-2">
                <span class="material-symbols-outlined text-2xl text-ps-green">
                </span>
                <div
                  style="font-weight: 800"
                  class="flex flex-col pl-7 text-red-500 font-extrabold"
                >
                  DE GARDE
                </div>
              </div>
              } @case (false) {
              <div class="flex justify-start items-start gap-2">
                <span class="material-symbols-outlined text-2xl text-ps-green">
                </span>
                <div
                  style="font-weight: 800"
                  class="flex flex-col pl-7 text-ps-green-2 font-bold"
                >
                  PAS DE GARDE
                </div>
              </div>
              } } }
            <div class="flex flex-col justify-start items-start pl-7">
              <div>
                <p class=" italic">{{ item.adresse[0].nadress }} ,{{ item.country }} </p>
              </div>
              <div class="flex gap-1 flex-wrap">
                @for (tel of item.tel; track $index) {

                <p class="">
                  ({{ tel.prefix }}) {{ tel.number }}
                </p>
                }
              </div>
              <div>
                <p class=" underline">{{ item.email }}</p>
              </div>
              <div>
                <p class=" italic">{{ item.assurance }}</p>
              </div>
              <div>
                <p class="">{{ item.flagship_activity }}</p>
              </div>
            </div>  
          </div>
          <div class="mt-6 w-1/6 h-1/4 gap-2 flex flex-wrap">
            @for (ite of item.network; track $index) {

            <a
              class="w-[25px] flex justify-start items-center"
              target="_blank"
              href="{{ ite.link }}"
              ><img src="images/icone/{{ ite.name }}.png" class="w-[100px]"
            /></a>
            }
          </div>
        </div>
        <div class="w-full h-7 mb-3 flex justify-between pl-3 pr-3 items-center">
          <a
            href=""
            class="hover:underline text-ps-green-2 hover:text-ps-green transition-all italic"
            style="font-weight: 600"
            >En savoir plus...</a
          >
          <a
            [href]="[
              'https://www.google.com/maps?q=' +
                [item.adresse[0].lat, item.adresse[0].lng]
            ]"
            target="_blank"
            class="h-full w-36 flex justify-center items-center gap-2 rounded-3xl bg-ps-green-2 text-white"
          >
            <p class="bol">Y ALLER</p>
            <!-- <span class="material-symbols-outlined"> send </span> -->
            <i-feather name="external-link"></i-feather>
          </a>
        </div>
      </div>
      }
      <!--end structure -->

      @if (meta) {

      <div class="w-full pl-8 h-16 flex justify-start gap-4 items-center">
        @if (meta.previous_page_url) {

        <button
          (click)="next(meta.previous_page_url)"
          class="w-40 h-14 bg-ps-green rounded-2xl flex justify-center gap-2 items-center font-bold text-xl text-white"
        >
          <i-feather name="arrow-left"></i-feather>
          precedent
        </button>
        } @if (meta.next_page_url) {

        <button
          (click)="next(meta.next_page_url)"
          class="w-32 h-14 bg-ps-green rounded-2xl flex justify-center gap-2 items-center font-bold text-xl text-white"
        >
          suivant
          <i-feather name="arrow-right"></i-feather>
        </button>
        }
      </div>
      }
    </div>
    <div
      class="w-full h-64 sm:h-96 top-[96px] lg:h-[80%] box-border lg:right-0 lg:top-40 fixed lg:w-7/12"
    >
      <!-- <google-map height="100%" width="100%" [options]="options">
        @for (location of auLocations; track location) {
        <map-advanced-marker
          #markerElem="mapAdvancedMarker"
          [position]="{ lat: location.lat, lng: location.lng }"
        />
        }</google-map
      > -->
      <div id="map" class="lg:absolute bottom-0 h-full w-full"></div>
      <!-- <gmp-map class="h-full w-full" center="6.129994869232178,1.2203582525253296" zoom="14" map-id="DEMO_MAP_ID">
        <gmp-advanced-marker position="6.129994869232178,1.2203582525253296" title="My location"></gmp-advanced-marker>
      </gmp-map> -->
    </div>
  </div>
  <app-footer></app-footer>
</div>
@if (showModal) {
<app-modal (close)="closeModal()">
  <!-- <div class="h-full box-border fixed w-full"
    > -->
  <!-- <google-map height="100%" width="100%" [options]="options">
        @for (location of auLocations; track location) {
        <map-advanced-marker
          #markerElem="mapAdvancedMarker"
          [position]="{ lat: location.lat, lng: location.lng }"
        />
        }</google-map
      > -->
  <div id="map2" class="lg:absolute bottom-0 h-full w-full"></div>
  <!-- <gmp-map class="h-full w-full" center="6.129994869232178,1.2203582525253296" zoom="14" map-id="DEMO_MAP_ID">
        <gmp-advanced-marker position="6.129994869232178,1.2203582525253296" title="My location"></gmp-advanced-marker>
      </gmp-map> -->
  <!-- </div> -->
</app-modal>
}

