// @import "ckeditor5/ckeditor5.css";

// .ck-content{
//     width: 50%;
// }
.youtube {
    background-image: url('https://img.youtube.com/vi/C0ixVKHtsus/0.jpg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}