<div class="w-screen h-screen lg:flex flex-row justify-center items-center">
  <!-- left -->
  <div
    class="lg:h-full lg:w-1/2 flex justify-center items-center overflow-hidden lefter"
  >
    <a
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      class="absolute top-6 left-6 flex text-white"
      ><i-feather name="corner-up-left" class="h-full mr-2"></i-feather
      >Retour</a
    >
    <!-- <img class="absolute left-0 h-[150vh] -z-10" src="images/image_espace professionnel.jpg" alt=""> -->
    <div class="h-1/4 w-11/12 hidden lg:flex justify-start items-center">
      <p class="text-5xl font-bold text-white">
        BIENVENUE SUR VOTRE ESPACE<br />PROFESSIONNEL
      </p>
    </div>
  </div>
  <!-- left -->
  <!-- right -->
  <div
    class="h-full w-full lg:w-1/2 flex flex-col gap-4 justify-center items-center bg-white"
  >
    <a
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      class="fixed top-6 left-6 flex lg:hidden"
      ><i-feather name="corner-up-left" class="h-full mr-2"></i-feather
      >Retour</a
    >
    <!-- <div class=" bg-red-400"></div> -->
    <div class="h-50 w-11/12 flex flex-col justify-center items-center">
      <img class="w-3/6 h-auto" src="images/logo kondzi-04.png" alt="" />
      <p class="mb-0 text-sm sm:text-base text-center">
        Plateforme réseau N°1 d'acteurs professionnels de santé en Afrique
      </p>
    </div>
    <div class="h-120 w-11/12 p-2 flex flex-col justify-center items-center">
      <header class="w-11/12 sm:w-96">
        <h1 class="text-xl font-bold text-gray-800">SE CONNECTER</h1>
        <p class="w-full text-xs">
          La connexion au site est réservée aux professionnels.
        </p>
      </header>
      <!-- FORM -->
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        class="w-11/12 sm:w-96 flex flex-col justify-start items-center"
      >
        <p></p>
        <div class="mt-4 mb-4 w-full">
          <label for="email" class="block text-gray-600 mb-1"
            >Email de l'utilisateur</label
          >
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="Votre adresse electronique"
            class="input"
            required
          />
        </div>
        <div class="mt-4 mb-4 w-full">
          <label for="password" class="block text-gray-600 mb-1"
            >Mot de passe</label
          >
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Votre mot de passe"
            class="input"
            required
          />
        </div>
        <button
          type="submit"
          [disabled]="!loginForm.valid"
          class="transition mt-4 border rounded-full border-ps-green text-ps-green w-1/2 px-4 py-4 hover:bg-ps-green hover:text-white"
        >
          CONNEXION
        </button>
      </form>
    </div>
    <div class="h-auto w-11/12 mt-4 flex justify-center items-center">
      <p class="w-2/3 lg:w-1/2 text-[10px] text-justify">
        L'utilisation de la plateforme KONDZI.COM est régie par des règles de
        confiance et de sécurité envers notre communauté d'utilisateurs. Toute
        faute ou préjudice commis dans le cadre numérique est passible de
        poursuites judiciaires et des sanctions civiles et pénales. Nous vous
        prions de consulter nos <a class="underline font-bold" [routerLink]="['/conditions-generales-utilisation']">Conditions Générales d'Utilisation</a> et notre
        <a class="underline font-bold" [routerLink]="['/politique-de-confidentialite']">Politique de Confidentialité</a>.
      </p>
    </div>
  </div>
  <!-- right -->
</div>
