<footer class="w-full flex flex-col absolute">
  <div
    class="w-full z-10 h-24 flex gap-10 justify-center items-center bg-white absolute top-0"
  >
    <a
      (click)="scrollToTop()"
      class="w-2/12 h-full flex justify-start items-center"
    >
      <img class="ml-4 w-auto h-[120%]" src="images/logo condji-04.png" alt=""
    />
  </a>

    <div>
      <p class="text-base font-bold italic">
        Plateforme réseau N°1 des acteurs <br />professionnels de santé au Togo
      </p>
    </div>
  </div>
  <!-- publicite -->
  <div
    class="w-full z-10 h-32 top-24 flex gap-10 justify-center items-center overflow-hidden bg-white absolute"
  >
  @for (item of images; track $index) {

  <img class="ml-4 w-auto h-[140%] absolute" [src]="item.imageSrc"
  [alt]="item.imageAlt"
  [ngClass]="{'img-active':selectedIndex === $index}"
  />
  }
  </div>
  <!-- publicite -->
  <div class="w-full min-h-96 bg-ps-green gap-6 flex flex-col lg:flex-row justify-around items-start pt-5 absolute top-56">
    <div class="h-full w-1/4 flex flex-col gap-4 justify-start items-start">
      <h1 class="mt-4 text-white font-extrabold">KONDZI.COM</h1>
      <ul class="w-full h-5/6 flex flex-col text-white">
        <li class="flex justify-start items-center gap-2">
          <span class="material-symbols-outlined text-2xl"> call </span>
          <a class="hover:underline">{{ tel }}</a>
        </li>
        <li class="flex justify-start items-center gap-2">
          <span class="material-symbols-outlined text-2xl"> mail </span>
          <a class="hover:underline">{{ email }}</a>
        </li>
        <li class="flex justify-start items-center gap-2">
          <span class="material-symbols-outlined text-2xl"> language </span>
          <a class="hover:underline">{{ web }}</a>
        </li>
        <li class="flex gap-3">
          @for (item of network; track $index) {
  
          <a
            class="mt-3 w-[25px] flex justify-start items-center"
            href="{{ item.link }}"
            ><img src="{{ item.logo }}" alt=""></a>
          }
          
        </li>
      </ul>
    </div>
    <div class="h-full w-1/4 flex flex-col gap-4 justify-start items-start">
      <h1 class="mt-4 text-white font-extrabold">INFORMATIONS LÉGALES</h1>
      <ul class="list-disc gap-2 w-full h-5/6 flex flex-col text-white">
        <li>
          <a class="hover:underline"
            >Accessibilité : conformité partielle</a
          >
        </li>
        <li><a class="hover:underline">Conditions générales d'utilisation</a></li>
        <li>
          <a class="hover:underline">Mentions légales</a>
        </li>
        <li><a class="hover:underline">Politique de confidentialité</a></li>
      </ul>
    </div>
    <div class="h-full w-1/6 flex flex-col gap-4 justify-start items-start">
      <h1 class="mt-4 text-white font-extrabold">NOS SERVICES</h1>
      <ul class="list-disc gap-2 w-full h-5/6 flex flex-col text-white">
        <li><a class="hover:underline">Actualité Santé</a></li>
        <li>
          <a class="hover:underline">Répertoire & Adresses géolocalisé</a>
        </li>
        <li><a class="hover:underline">Bien-être & infos utiles</a></li>
        <li><a class="hover:underline">MédiaSanté</a></li>
      </ul>
    </div>
    <div class="absolute bottom-24 z-40 w-full flex justify-center items-center">
      <img src="images/icone/icone_blanc.png" class="w-[2vw]" alt="">
    </div>
    <div class="absolute bottom-0 z-30 w-full flex justify-center items-center">
      <h1 class="text-white left-[40vw] italic">
        Copyright © 2024 kondzi.com - Tous droits réservés
      </h1>
    </div>
  </div>
  
</footer>
