.img-active {
    // display: block;
    opacity: 1;
}
img{
    // display: none;
    opacity: 0;
    // left: 0;
    // position: relative;
    // transition:all 3000ms;
    // width: 100%;
    transition: all 400ms;
    // z-index: -1;
    
}