<footer class="w-full flex flex-col absolute">
  <div
    class="w-full h-20 lg:h-24 flex gap-10 justify-center items-center bg-white"
  >
    <a
      (click)="scrollToTop()"
      class="w-2/12 h-full flex justify-start items-center"
    >
      <img
        class="ml-4 z-60 img-active"
        src="images/logo condji-04.png"
        alt=""
      />
    </a>

    <div>
      <p class="text-xs lg:text-base font-bold italic">
        Plateforme réseau N°1 des acteurs <br />professionnels de santé en Afrique
      </p>
    </div>
  </div>
  <!-- publicite -->
  <div
    class="w-full h-20 lg:h-36 flex justify-center items-center overflow-hidden bg-white"
  >
    <div
      class="w-5/6 h-[90%] flex justify-start items-center overflow-hidden"
    >
      @for (item of images; track $index) {

      <img
        class="carousel-image"
        [style.transform]="'translateX(-' + selectedIndex * 100 + '%)'"
        [src]="item.imageSrc"
        [alt]="item.imageAlt"
        [ngClass]="{ 'img-active': selectedIndex === $index }"
      />
      }
    </div>
  </div>

  <!-- publicite -->
  <div
    class="w-full min-h-96 bg-ps-green gap-6 flex flex-col lg:flex-row justify-around items-start pt-5"
  >
    <div
      class="h-full w-11/12 lg:w-1/4 flex flex-col gap-4 justify-center items-start lg:justify-start lg:items-start pl-5"
    >
      <h1 class="mt-4 text-white font-extrabold">KONDZI.COM</h1>
      <ul
        class="w-full h-5/6 flex flex-col justify-center items-baseline text-white"
      >
        <li class="flex justify-start items-center gap-2">
          <span class="material-symbols-outlined text-2xl"> call </span>
          <a class="hover:underline">{{ tel }}</a>
        </li>
        <li class="flex justify-start items-center gap-2">
          <span class="material-symbols-outlined text-2xl"> mail </span>
          <a class="hover:underline">{{ email }}</a>
        </li>
        <li class="flex justify-start items-center gap-2">
          <span class="material-symbols-outlined text-2xl"> language </span>
          <a class="hover:underline">{{ web }}</a>
        </li>
        <li class="flex gap-3">
          @for (item of network; track $index) {

          <a
            class="mt-3 w-[25px] flex justify-start items-center"
            href="{{ item.link }}"
            ><img class="img-active" src="{{ item.logo }}" alt=""
          /></a>
          }
        </li>
      </ul>
    </div>
    <div
      class="h-full w-11/12 lg:w-1/4 flex flex-col gap-4 justify-center items-start lg:justify-start lg:items-start pl-5"
    >
      <h1 class="mt-4 text-white font-extrabold">INFORMATIONS LÉGALES</h1>
      <ul class="list-disc gap-2 w-full h-5/6 flex flex-col text-white pl-5">
        <li>
          <a [routerLink]="['/accessibilite-conformite-partielle']" class="hover:underline"
            >Accessibilité : conformité partielle</a
          >
        </li>
        <li>
          <a [routerLink]="['/conditions-generales-utilisation']" class="hover:underline"
            >Conditions générales d'utilisation</a
          >
        </li>
        <li>
          <a [routerLink]="['/mentions-legales']" class="hover:underline"
            >Mentions légales</a
          >
        </li>
        <li>
          <a [routerLink]="['/politique-de-confidentialite']" class="hover:underline"
            >Politique de confidentialité</a
          >
        </li>
      </ul>
    </div>
    <div
      class="h-full w-11/12 lg:w-1/4 flex flex-col gap-4 justify-center items-start lg:justify-start lg:items-start pl-5"
    >
      <h1 class="mt-4 text-white font-extrabold">NOS SERVICES</h1>
      <ul class="list-disc gap-2 w-full h-5/6 flex flex-col text-white pl-5">
        <li>
          <a
            [routerLink]="['/actualites-sante']"
            routerLinkActive="router-link-active"
            class="hover:underline"
            >Actualités Santé</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/repertoires-adresses-geolocalisees']"
            class="hover:underline"
            >Répertoires & Adresses géolocalisées</a
          >
        </li>
        <li>
          <a [routerLink]="['/bien-etre-infos-utiles']" class="hover:underline"
            >Bien-être & infos utiles</a
          >
        </li>
        <li>
          <a [routerLink]="['/media-sante']" class="hover:underline"
            >MédiaSanté</a
          >
        </li>
      </ul>
    </div>
    <div
      class="lg:absolute bottom-24 z-40 w-full flex justify-center items-center"
    >
      <img class="img-active w-7" src="images/icone/icone_blanc.png" />
    </div>
    <div
      class="lg:absolute mb-4 lg:mb-0 lg:bottom-4 w-full flex justify-center items-center"
    >
      <h1 class="text-white text-xs lg:text-lg left-[40vw] italic">
        Copyright © 2024 kondzi.com - Tous droits réservés
      </h1>
    </div>
  </div>
</footer>
