<nav
  class="w-full h-auto z-10 fixed top-0 border-ps-orange bg-white bg-opacity-20"
  [ngClass]="{ 'nav-opaque': navbarOpaque }"
>
  <div class="w-full h-24 flex flex-row justify-around items-center">
    <a
      [routerLink]="['']"
      routerLinkActive="router-link-active"
      class="w-auto h-full flex justify-start items-center"
    >
      <img
        class="ml-4 h-[100%] md:h-[180%]"
        src="images/logo condji-04.png"
        alt=""
      />
    </a>
    <!-- recherche -->
    <form
      class="w-7/12 h-full hidden md:flex items-center"
      (ngSubmit)="onSubmit()"
      [formGroup]="search"
    >
      <div
        class="w-11/12 h-4/5 flex rounded-l justify-around items-center bg-white bg-opacity-50"
        [ngClass]="{ 'inpute-opaque': navbarOpaque }"
      >
        <input
          class="w-4/12 h-4/5 p-4 border-b outline-none text-gray-600 border-black rounded-t bg-gray-200"
          type="text"
          formControlName="word"
          placeholder="Votre recherche"
        />
        <!-- <div class="w-5/12 h-4/5 p-4 border-b outline-none text-gray-600 border-black rounded-t bg-gray-200" id="autocomp"></div> -->
        <input
          class="w-4/12 h-4/5 p-4 border-b outline-none text-gray-600 border-black rounded-t bg-gray-200"
          type="text"
          id="search"
          formControlName="zone"
          placeholder="Votre zone"
        />
        <select
          class="w-3/12 h-4/5 p-4 border-b outline-none text-gray-600 border-black rounded-t bg-gray-200"
          formControlName="type"
          type="text"
        >
          <option value="ch">Centre/Structure de soins</option>
          <option value="ph">Pharmacie</option>
          <option value="lb">Laboratoires</option>
          <option value="co">Centre Optique</option>
          <option value="doc">Médécins</option>
        </select>
      </div>
      <button
        type="submit"
        [disabled]="!search.valid"
        class="w-1/12 h-[84%] rounded-r bg-black flex justify-center items-center font-bold"
      >
        <i-feather name="search" class="text-white transition-all"></i-feather>
      </button>
    </form>
    <!-- recher button  -->

    <div
      class="border-l-[2px] border-r-[2px] md:hidden transition-all border-ps-orange h-full w-[70px] md:w-[7%]"
    >
      <a
        type="button"
        class="w-full h-full flex justify-center items-center"
        (click)="openModal()"
      >
        <i-feather
          name="search"
          [ngClass]="{ 'icone-opaque': navbarOpaque }"
          class="text-white font-bold w-full h-full text-center transition-all"
        ></i-feather>
      </a>
    </div>
    <!-- recher button  -->
    <div
      class="border-l-[2px] border-r-[2px] transition-all border-ps-orange h-full w-[70px] md:w-[7%]"
      [ngClass]="{ 'bt-open': menu === true }"
    >
      <button
        type="button"
        class="w-full h-full flex justify-center items-center"
        (click)="openMenu()"
      >
        @if (menu) {
        <i-feather
          name="x"
          class="text-ps-orange font-bold text-center w-full h-full text-3xl transition-all"
        ></i-feather>
        }@else {
        <i-feather
          name="menu"
          [ngClass]="{ 'icone-opaque': navbarOpaque }"
          class="text-white font-bold w-full h-full text-center transition-all"
        ></i-feather>
        }
      </button>
    </div>
    <a
      [routerLink]="['/login']"
      class="w-1/12 h-5/6 flex justify-center items-center gap-4 text-2xl"
    >
      <i-feather
        name="user"
        [ngClass]="{ 'connexion-icone-opaque': navbarOpaque }"
        class="text-white font-bold big transition-all"
      ></i-feather>
      <!-- <samp
        [ngClass]="{ 'connexion-opaque': navbarOpaque }"
        class="text-white font-bold"
        >SE CONNECTER</samp
      > -->
    </a>
  </div>
  <div
    class="w-full h-0 transition-all bg-gray-200 md:bg-opacity-55 flex md:flex-row justify-end items-center"
    [ngClass]="{ open: menu === true }"
  >
    <div
      class="w-full h-full flex flex-col justify-start md:flex-row md:justify-end items-center"
      [ngClass]="{ block: menu === false }"
    >
      <a
        class="w-full h-10 flex justify-start md:justify-center pl-2 items-center md:block md:w-60 md:h-auto"
        [routerLink]="['/qui-sommes-nous']"
        ><p class="text-center">Qui sommes-nous ?</p></a
      >
      <!-- [routerLink]="['/nos-mission']" -->
      <button
        class="hidden w-full h-10 justify-start md:justify-center pl-2 items-center md:block md:w-60 border-black border-t-2 border-b-2 md:border-none md:h-auto"
        (click)="openServiceMenu()"
      >
        <p class="text-center md:border-l-2 md:border-r-2 border-black">
          Nos services
        </p>
      </button>
      <!-- for mobile  -->
      <div
        class="md:hidden flex flex-col overflow-y-hidden w-full h-10 transition-all justify-start md:justify-center pl-2 items-start md:w-60 border-black border-t-2 border-b-2 md:border-none md:h-auto"
        [ngClass]="{ openServiceMenuMobile: servieMenu === true }"
      >
        <button
          class="md:border-l-2 md:border-r-2 border-black w-full h-6 text-left "
          (click)="openServiceMenu()"
        >
          Nos services
        </button>
        <div class="ml-4 mt-5 flex flex-col justify-start gap-3 items-start">
          <a [routerLink]="['/actualites-sante']"
            ><p class="text-center">Actualités Santé</p></a
          >
          <!-- [routerLink]="['/nos-mission']" -->
          <a [routerLink]="['/repertoires-adresses-geolocalisees']">
            <p class="text-center border-black">
              Répertoires & Adresses géolocalisées
            </p>
          </a>
          <a [routerLink]="['/bien-etre-infos-utiles']"
            ><p class="text-center border-black">Bien-être & infos utiles</p></a
          >
          <a [routerLink]="['/media-sante']"
            ><p class="text-center">MEDIA-SANTÉ</p></a
          >
        </div>
      </div>
      <!-- for mobile  -->

      <a
        class="w-full h-10 flex justify-start md:justify-center pl-2 items-center md:block md:w-60 border-b-2 border-black md:border-none md:h-auto"
        [routerLink]="['/nos-partenaires']"
        ><p class="text-center md:border-r-2 border-black">
          Nos partenaires
        </p></a
      >
      <a
        class="w-full h-10 flex justify-start md:justify-center pl-2 items-center md:block md:w-60 md:h-auto"
        [routerLink]="['/media-sante']"
        ><p class="text-center">MEDIA-SANTÉ</p></a
      >
    </div>
    <!-- service menu  -->
    <div
      class="top-[146px] bg-gray-200 right-[480px] transition-all absolute w-60 h-0 flex"
      [ngClass]="{ openServiceMenu: servieMenu === true }"
    >
      <div
        class="h-full w-full flex flex-col justify-start items-start"
        [ngClass]="{ block: servieMenu === false }"
      >
        <a
          class="mt-2 w-full h-10 flex justify-center items-center md:w-60"
          [routerLink]="['/actualites-sante']"
          ><p class="text-center">Actualités Santé</p></a
        >
        <!-- [routerLink]="['/nos-mission']" -->
        <a
          class="w-full min-h-10 flex justify-center items-center border-black border-t-2 border-b-2"
          [routerLink]="['/repertoires-adresses-geolocalisees']"
        >
          <p class="text-center border-black">
            Répertoires & Adresses géolocalisées
          </p>
        </a>
        <a
          class="w-full h-10 flex justify-center items-center md:w-60 border-b-2 border-black"
          [routerLink]="['/bien-etre-infos-utiles']"
          ><p class="text-center border-black">Bien-être & infos utiles</p></a
        >
        <a
          class="w-full h-10 flex justify-center items-center"
          [routerLink]="['/media-sante']"
          ><p class="text-center">MEDIA-SANTÉ</p></a
        >
      </div>
    </div>
    <!-- service menu  -->
  </div>
</nav>
@if (showModal) {
<app-modal (close)="closeModal()">
  <!-- <h1>coucou</h1>
    <div class="w-1/2 h-1/2 bg-blue-500"></div> -->

  <form
    class="w-10/12 h-[300px] flex flex-col items-center"
    (ngSubmit)="onSubmit()"
    [formGroup]="search"
  >
    <h1 (click)="closeModal()" class="text-3xl text-white">X Annuler</h1>
    <div
      class="w-11/12 h-3/5 flex flex-col rounded-l justify-around items-center bg-white bg-opacity-50"
      [ngClass]="{ 'inpute-opaque': navbarOpaque }"
    >
      <input
        class="w-full h-[80px] p-4 border-b outline-none text-gray-600 border-black rounded-t bg-gray-200"
        type="text"
        formControlName="word"
        placeholder="Votre recherche"
      />
      <input
        class="w-full h-[80px] p-4 border-b outline-none text-gray-600 border-black rounded-t bg-gray-200"
        type="text"
        id="search"
        formControlName="zone"
        placeholder="Votre zone"
      />
      <select
        class="w-full h-[80px] p-4 border-b outline-none text-gray-600 border-black rounded-t bg-gray-200"
        formControlName="type"
        type="text"
      >
        <option value="ch">Centre/Structure de soins</option>
        <option value="ph">Pharmacie</option>
        <option value="lb">Laboratoires</option>
        <option value="co">Centre Optique</option>
        <option value="doc">Médécins</option>
      </select>
    </div>
    <button
      type="submit"
      [disabled]="!search.valid"
      class="w-11/12 h-[80px] rounded-r bg-ps-green flex justify-center items-center font-bold"
    >
      <i-feather name="search" class="text-white transition-all"></i-feather>
    </button>
  </form>
</app-modal>
}
