.open{
    // height: 50px;
    @apply h-[360px] md:h-[50px] bg-opacity-100
}
.block{
    display: none;
}
nav {
    transition: all 100ms;
}
nav::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 5px;
    z-index: -1;
    transition: all 400ms;
    background-color: #F27405;
}
nav::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5px;
    z-index: -1;
    transition: all 400ms;
    background-color: #F27405;
}

// .sugg::before{
//     content: '';
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     z-index: -1;
//     // background-color: ;
// }
.bt-open{
    @apply bg-ps-green border-none
}
.nav-opaque{
    @apply bg-opacity-100
}
.nav-opaque::after{
    width: 50%;
    // background-color: blue;
}
.nav-opaque::before{
    width: 50%;
    // background-color: blue;
}
.icone-opaque{
    @apply text-ps-orange
}
.connexion-opaque{
    @apply text-ps-orange
}
.connexion-icone-opaque{
    @apply text-ps-orange big
}
.inpute-opaque{
    @apply bg-gray-100
}
.big {
    height: 40px;
    width: 40px;
  }

.menu-link{
    @apply w-full h-10 flex justify-center items-center md:block md:h-auto
}
.openServiceMenu{
    @apply h-40
}
.openServiceMenuMobile{
    @apply h-44
}
.openMenuMobile{
    @apply w-screen opacity-100
}
.translateIcone{
    transform: rotate(90deg);
}

// .decoration::after{
//     content: '';
//     // @apply absolute w-full h-full z-10 bg-white
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     background-color: white;
//     opacity: 0.5;
// }