/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.ck-editor__editable {
  @apply bg-white border border-gray-300 rounded-lg shadow-sm;
}
.ck-content {
  all: revert;
}

// @import "";
* {
  // font-family: "Roboto", sans-serif;
  // font-weight: 400;
  // font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
// @import 'ckeditor5-premium-features/ckeditor5-premium-features.css';
