/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ckeditor5/ckeditor5.css";

* {
  // font-family: "Roboto", sans-serif;
  // font-weight: 400;
  // font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
// @import 'ckeditor5-premium-features/ckeditor5-premium-features.css';
