.youtube {
    background-image: url('https://img.youtube.com/vi/C0ixVKHtsus/0.jpg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}
// .article {
//     background-image: url('/images/data-santé-medecine.webp');
//     background-repeat: no-repeat;
//     background-size: 150%;
//     background-position: center;
// }
.big{
    height: 50px;
  width: 50px;
}