<div class="w-full h-full bg-gray-100 overflow-x-hidden overflow-y-auto">
  <div class="w-full h-screen lg:h-[700px] fixed overflow-hidden">
    <!-- <div class="w-[52%] h-1/5 flex justify-center items-center">
      <h1 class="text-4xl text-white">
        L'information fiable, utile pour votre santé
      </h1>
    </div>

    <div class="w-[52%] h-2/5">
      <div class="flex flex-wrap gap-2">
        <p class="p-1 h-1/6 text-white">Les recherches du moment :</p>
        <p class="p-1 h-1/6 rounded text-white">
          ddlflflf;g; dkkfkgkglggldldmvngklllss
        </p>
        <p class="p-1 h-1/6 rounded text-white">
          ddlflflf;g; dkkfkgkglggldldmvngklllss
        </p>
        <p class="p-1 h-1/6 rounded text-white">
          ddlflflf;g; dkkfkgkglggldldmvngklllss
        </p>
      </div> -->
    <!-- </div> -->
    <!-- <app-carousel></app-carousel> -->
    <app-carousel class="hidden lg:block" [images]="images"></app-carousel>
    <app-carousel class="block lg:hidden" [images]="imagesMobile"></app-carousel>
  </div>
  <!-- body -->
  <div class="w-full top-full lg:top-[600px] absolute" id="trigger-div">
    <div class="w-full pb-9 pt-9 flex justify-center"></div>
    <div class="w-full flex flex-col items-center justify-center bg-gray-100">
      <div
        class="w-full pb-9 pt-9 flex flex-col justify-center items-center gap-4"
      >
        <!-- <div class="md:w-[900px]"></div> -->
        <div class="w-full flex flex-col justify-start items-center gap-4">
          <h1 class="text-2xl mt-4 text-center font-bold">
            PRÉSENTATION KONDZI.COM
          </h1>
          <button
            class="youtube w-11/12 min-h-[230px] lg:w-[900px] md:min-h-[400px] flex justify-center items-center"
          >
            <i-feather
              (click)="openModal()"
              name="play"
              class="text-red-600 big"
            ></i-feather>
          </button>
        </div>
        <h1 class="text-2xl mt-4 text-center font-bold">ARTICLES A LA UNE</h1>
        <div
          class="w-full md:w-11/12 lg:w-[900px] flex justify-center lg:justify-between md:flex-nowrap flex-wrap gap-4"
        >
          @if (articles[0]) {
          <div
            (click)="goToArticle(articles[0].id)"
            class="cursor-pointer w-[330px] md:w-full h-[600px] md:h-[500px] hover:shadow-xl hover:border-2 border-gray-300 transition-all bg-white shadow-lg flex flex-col justify-between"
          >
            <div
              class="article w-full h-2/5 transition-all flex justify-center items-center overflow-hidden"
            >
              <img
                *ngIf="baseUrl + articles[0].image"
                [src]="baseUrl + articles[0].image"
                class="min-h-full min-w-full"
              />
            </div>
            <div class="w-full h-1/2 p-4 flex flex-col">
              <p class="mt-7 text-gray-500 font-bold text-xl">
                {{ articles[0].autor }}
              </p>
              <span class="mt-1 h-[8px] w-20 bg-ps-green"></span>
              <h1 class="mt-3 text-xl mb-4 font-bold">
                {{ articles[0].title }}
              </h1>
              <p class="text-left text-sm">
                Publié le {{ Date(articles[0].created_at) }} <br />
              </p>
            </div>
            <div class="w-11/12 lg:w-1/2 h-[10%] p-4 flex gap-2 items-end">
              <div
                [ngClass]="{ 'text-blue-500': articles[0].likeByHim }"
                class="h-10 flex items-center justify-center gap-1"
              >
                <i-feather class="big2" name="thumbs-up"></i-feather>
                <span class="h-5 font-bold">{{ articles[0].likesCount }}</span>
              </div>

              <div
                [ngClass]="{ 'text-red-500': articles[0].dislikeByHim }"
                class="h-10 flex items-center justify-center gap-1"
              >
                <i-feather class="big2" name="thumbs-down"></i-feather>
                <span class="h-5 font-bold">{{
                  articles[0].dislikesCount
                }}</span>
              </div>
              <button
              class="ml-2 h-10 flex items-center justify-center gap-1 hover:text-ps-orange transition-all"
              (click)="shareArticle(articles[0], $event)"
            >
              <i-feather name="share-2"></i-feather>
            </button>
            </div>
          </div>

          } @if (articles[1]) {
          <div
            (click)="goToArticle(articles[1].id)"
            class="cursor-pointer w-[330px] md:w-full h-[600px] md:h-[500px] hover:shadow-xl hover:border-2 border-gray-300 transition-all bg-white shadow-lg flex flex-col justify-between"
          >
            <div
              class="article w-full h-2/5 transition-all flex justify-center items-center overflow-hidden"
            >
              <img
                *ngIf="baseUrl + articles[1].image"
                [src]="baseUrl + articles[1].image"
                class="min-h-full min-w-full"
              />
            </div>
            <div class="w-full h-1/2 p-4 flex flex-col">
              <p class="mt-7 text-gray-500 font-bold text-xl">
                {{ articles[1].autor }}
              </p>
              <span class="mt-1 h-[8px] w-20 bg-ps-green"></span>
              <h1 class="mt-3 text-xl mb-4 font-bold">
                {{ articles[1].title }}
              </h1>
              <p class="text-left text-sm">
                Publié le {{ Date(articles[1].created_at) }} <br />
              </p>
              <!-- <a
              
              class="transition mt-4 border rounded-full border-ps-green text-ps-green w-1/2 px-4 py-4 hover:bg-ps-green hover:text-white"
              >
              LIRE L'ARTICLE
            </a> -->
            </div>
            <div class="w-11/12 lg:w-1/2 h-[10%] p-4 flex gap-2 items-end">
              <div
                [ngClass]="{ 'text-blue-500': articles[1].likeByHim }"
                class="h-10 flex items-center justify-center gap-1"
              >
                <i-feather class="big2" name="thumbs-up"></i-feather>
                <span class="h-5 font-bold">{{ articles[1].likesCount }}</span>
              </div>
              <div
                [ngClass]="{ 'text-red-500': articles[1].dislikeByHim }"
                class="h-10 flex items-center justify-center gap-1"
              >
                <i-feather class="big2" name="thumbs-down"></i-feather>
                <span class="h-5 font-bold">{{
                  articles[1].dislikesCount
                }}</span>
              </div>
              <button
              class="ml-2 h-10 flex items-center justify-center gap-1 hover:text-ps-orange transition-all"
              (click)="shareArticle(articles[1], $event)"
            >
              <i-feather name="share-2"></i-feather>
            </button>
            </div>
          </div>

          }
        </div>
        <div
          class="w-full md:w-11/12 lg:w-[900px] flex justify-center lg:justify-between md:flex-nowrap flex-wrap gap-4"
        >
          @if (articles[2]) {
          <div
            (click)="goToArticle(articles[2].id)"
            class="cursor-pointer w-[330px] md:w-full h-[600px] md:h-[500px] hover:shadow-xl hover:border-2 border-gray-300 transition-all bg-white shadow-lg flex flex-col justify-between"
          >
            <div
              class="article w-full h-2/5 md:h-2/6 transition-all flex justify-center items-center overflow-hidden"
            >
              <img
                *ngIf="baseUrl + articles[2].image"
                [src]="baseUrl + articles[2].image"
                class="min-h-full min-w-full"
              />
            </div>
            <div class="w-full h-1/2 p-4 flex flex-col">
              <p class="mt-7 text-gray-500 font-bold text-xl">
                {{ articles[2].autor }}
              </p>
              <span class="mt-1 h-[8px] w-20 bg-ps-green"></span>
              <h1 class="mt-3 text-xl mb-4 font-bold">
                {{ articles[2].title }}
              </h1>
              <p class="text-left text-sm">
                Publié le {{ Date(articles[2].created_at) }} <br />
              </p>

              <!-- <a
                
                class="transition mt-4 border rounded-full border-ps-green text-ps-green w-1/2 px-4 py-4 hover:bg-ps-green hover:text-white"
              >
                LIRE L'ARTICLE
              </a> -->
            </div>
            <div class="w-11/12 p-4 lg:w-1/2 h-[10%] flex gap-2 items-end">
              <div
                [ngClass]="{ 'text-blue-500': articles[2].likeByHim }"
                class="h-10 flex items-center justify-center gap-1"
              >
                <i-feather class="big2" name="thumbs-up"></i-feather>
                <span class="h-5 font-bold">{{ articles[2].likesCount }}</span>
              </div>
              <div
                [ngClass]="{ 'text-red-500': articles[2].dislikeByHim }"
                class="h-10 flex items-center justify-center gap-1"
              >
                <i-feather class="big2" name="thumbs-down"></i-feather>
                <span class="h-5 font-bold">{{
                  articles[2].dislikesCount
                }}</span>
              </div>
              <button
              class="ml-2 h-10 flex items-center justify-center gap-1 hover:text-ps-orange transition-all"
              (click)="shareArticle(articles[2], $event)"
            >
              <i-feather name="share-2"></i-feather>
            </button>
            </div>
          </div>

          } @if (articles[3]) {
          <div
            (click)="goToArticle(articles[3].id)"
            class="cursor-pointer w-[330px] md:w-full h-[600px] md:h-[500px] hover:shadow-xl hover:border-2 border-gray-300 transition-all bg-white shadow-lg flex flex-col justify-between"
          >
            <div
              class="article w-full h-2/5 md:h-2/6 transition-all flex justify-center items-center overflow-hidden"
            >
              <img
                *ngIf="baseUrl + articles[3].image"
                [src]="baseUrl + articles[3].image"
                class="min-h-full min-w-full"
              />
            </div>
            <div class="w-full h-1/2 p-4 flex flex-col">
              <p class="mt-7 text-gray-500 font-bold text-xl">
                {{ articles[3].autor }}
              </p>
              <span class="mt-1 h-[8px] w-20 bg-ps-green"></span>
              <h1 class="mt-3 text-xl mb-4 font-bold">
                {{ articles[3].title }}
              </h1>
              <p class="text-left text-sm">
                Publié le {{ Date(articles[3].created_at) }} <br />
              </p>

              <!-- <a
                  
                  class="transition mt-4 border rounded-full border-ps-green text-ps-green w-1/2 px-4 py-4 hover:bg-ps-green hover:text-white"
                >
                  LIRE L'ARTICLE
                </a> -->
            </div>
            <div class="w-11/12 lg:w-1/2 h-[10%] p-4 flex gap-2 items-end">
              <div
                [ngClass]="{ 'text-blue-500': articles[3].likeByHim }"
                class="h-10 flex items-center justify-center gap-1"
              >
                <i-feather class="big2" name="thumbs-up"></i-feather>
                <span class="h-5 font-bold">{{ articles[3].likesCount }}</span>
              </div>
              <div
                [ngClass]="{ 'text-red-500': articles[3].dislikeByHim }"
                class="h-10 flex items-center justify-center gap-1"
              >
                <i-feather class="big2" name="thumbs-down"></i-feather>
                <span class="h-5 font-bold">{{
                  articles[3].dislikesCount
                }}</span>
              </div>
              <button
              class="ml-2 h-10 flex items-center justify-center gap-1 hover:text-ps-orange transition-all"
              (click)="shareArticle(articles[3], $event)"
            >
              <i-feather name="share-2"></i-feather>
            </button>
            </div>
          </div>

          } @if (articles[4]) {
          <div
            (click)="goToArticle(articles[4].id)"
            class="cursor-pointer w-[330px] md:w-full h-[600px] md:h-[500px] hover:shadow-xl hover:border-2 border-gray-300 transition-all bg-white shadow-lg flex flex-col justify-between"
          >
            <div
              class="article w-full h-2/5 md:h-2/6 transition-all flex justify-center items-center overflow-hidden"
            >
              <img
                *ngIf="baseUrl + articles[4].image"
                [src]="baseUrl + articles[4].image"
                class="min-h-full min-w-full"
              />
            </div>
            <div class="w-full h-1/2 p-4 flex flex-col">
              <p class="mt-7 text-gray-500 font-bold text-xl">
                {{ articles[4].autor }}
              </p>
              <span class="mt-1 h-[8px] w-20 bg-ps-green"></span>
              <h1 class="mt-3 text-xl mb-4 font-bold">
                {{ articles[4].title }}
              </h1>
              <p class="text-left text-sm">
                Publié le {{ Date(articles[4].created_at) }} <br />
              </p>

              <!-- <a
                    
                    class="transition mt-4 border rounded-full border-ps-green text-ps-green w-1/2 px-4 py-4 hover:bg-ps-green hover:text-white"
                  >
                    LIRE L'ARTICLE
                  </a> -->
            </div>
            <div class="w-11/12 lg:w-1/2 p-4 h-[10%] flex gap-2 items-end">
              <div
                [ngClass]="{ 'text-blue-500': articles[4].likeByHim }"
                class="h-10 flex items-center justify-center gap-1"
              >
                <i-feather class="big2" name="thumbs-up"></i-feather>
                <span class="h-5 font-bold">{{ articles[4].likesCount }}</span>
              </div>
              <div
                [ngClass]="{ 'text-red-500': articles[4].dislikeByHim }"
                class="h-10 flex items-center justify-center gap-1"
              >
                <i-feather class="big2" name="thumbs-down"></i-feather>
                <span class="h-5 font-bold">{{
                  articles[4].dislikesCount
                }}</span>
              </div>
              <button
              class="ml-2 h-10 flex items-center justify-center gap-1 hover:text-ps-orange transition-all"
              (click)="shareArticle(articles[4], $event)"
            >
              <i-feather name="share-2"></i-feather>
            </button>
            </div>
          </div>

          }
        </div>
        <div class="w-full flex justify-center items-center">
          <a
            [routerLink]="['/actualites-sante']"
            class="transition-all flex justify-center items-center p-2 gap-2"
            ><span class="font-bold hover:text-ps-green-2 text-center"
              >VOIR PLUS D'ARTICLES</span
            >
            <i-feather name="external-link"></i-feather
          ></a>
        </div>
      </div>
      <div class="w-full flex flex-col justify-around md:w-11/12 lg:w-[900px]">
        <div
          class="w-full h-32 mb-9 flex flex-col justify-center items-center rounded border-2 border-red-600 bg-white"
        >
          <h1 class="text-xl text-red-600 font-bold">EN CAS D'URGENCE</h1>
          <a
            [routerLink]="['/urgence']"
            class="transition mt-4 border rounded-full border-red-600 text-white px-4 py-2 bg-red-600 hover:text-white"
          >
            Conseils & numéros utiles
          </a>
        </div>
        <div class="w-full flex flex-col lg:flex-row lg:justify-between">
          <div
            class="w-full mb-2 lg:w-[47%] pt-16 pb-16 flex flex-col justify-start items-center bg-ps-green"
          >
            <h1 class="text-2xl mb-9 font-bold text-white">NOS SERVICES</h1>
            <ul class="w-full flex flex-wrap justify-center gap-4 items-center">
              <a
                [routerLink]="['/actualites-sante']"
                class="w-[35%] h-auto overflow-hidden rounded-3xl bg-white flex justify-center items-center"
              >
                <img class="h-full" src="images/Actualités santé.jpg" alt="" />
              </a>
              <a
                [routerLink]="['/repertoires-adresses-geolocalisees']"
                class="w-[35%] h-auto rounded-3xl overflow-hidden bg-white flex justify-center items-center"
              >
                <img
                  class="h-full"
                  src="images/Repertoire et adresses.jpg"
                  alt=""
                />
              </a>
              <a
                [routerLink]="['/bien-etre-infos-utiles']"
                class="w-[35%] h-auto rounded-3xl overflow-hidden bg-white flex justify-center items-center"
              >
                <img class="h-full" src="images/Bien être.jpg" alt="" />
              </a>
              <a
                [routerLink]="['/media-sante']"
                class="w-[35%] h-auto rounded-3xl overflow-hidden bg-white flex justify-center items-center"
              >
                <img class="h-full" src="images/MediaSanté.jpg" alt="" />
              </a>
            </ul>
          </div>
          <div
            class="flex lg:hidden w-full mt-4 mb-4 h-[1px] bg-gray-300"
          ></div>

          <div
            class="w-full lg:w-[47%] mb-2 pt-16 overflow-hidden rounded-tl-3xl rounded-br-3xl flex flex-col justify-end items-center bg-ps-green"
          >
            <h1
              class="text-xl md:text-2xl mb-9 font-bold text-white text-center"
            >
              LIENS & ADRESSES UTILES
            </h1>
            <div
              class="w-full h-80 lg:h-96 rounded-tl-3xl flex justify-center items-center bg-white"
            >
              <ul
                class="w-11/12 h-5/6 flex flex-col items-center justify-start gap-4 overflow-auto"
              >
                @for (item of uadresses; track $index) {
                <li class="w-full flex flex-col">
                  <p>
                    {{ item.title }}
                  </p>
                  <a
                    class="text-green-600 hover:text-red-500 font-bold"
                    [href]="item.link"
                    >{{ item.link }}</a
                  >
                </li>
                }

                <!-- <li class="w-full flex flex-col">
                  <p>OMS TOGO</p>
                  <a
                    class="text-green-600 hover:text-red-500 font-bold"
                    href="https://www.afro.who.int/fr/countries/togo"
                    >https://www.afro.who.int/fr/countries/togo</a
                  >
                </li>
                <li class="w-full flex flex-col">
                  <p>
                    Conseil National de Lutte Contre le SIDA et les Infections
                    Sexuellement Transmissibles
                  </p>
                  <a
                    class="text-green-600 hover:text-red-500 font-bold"
                    href="https://cnlstogo.org/cnls/"
                    >https://cnlstogo.org/cnls/</a
                  >
                </li>
                <li class="w-full flex flex-col">
                  <p>Ordre National des Médecins du Togo</p>
                  <a
                    class="text-green-600 hover:text-red-500 font-bold"
                    href="https://www.onmt.tg/"
                    >https://www.onmt.tg/</a
                  >
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>

  <!-- body -->
</div>
@if (showModal) {
<app-modal (close)="closeModal()">
  <div class="h-full w-full flex justify-center items-center absolute">
    <div
      class="absolute w-full h-full z-30 top-0 left-0"
      (click)="closeModal()"
    ></div>
    <iframe
      class="z-40"
      width="95%"
      height="50%"
      src="https://www.youtube.com/embed/C0ixVKHtsus?autoplay=1"
      allow="autoplay; encrypted-media"
      allowfullscreen
      frameborder="0"
    >
    </iframe>
  </div>
</app-modal>
}
