<div class="w-full h-full bg-gray-100 overflow-x-hidden overflow-y-auto" >
  <div class="w-full h-[500px] lg:h-[700px] fixed overflow-hidden">
    <!-- <div class="w-[52%] h-1/5 flex justify-center items-center">
      <h1 class="text-4xl text-white">
        L'information fiable, utile pour votre santé
      </h1>
    </div>

    <div class="w-[52%] h-2/5">
      <div class="flex flex-wrap gap-2">
        <p class="p-1 h-1/6 text-white">Les recherches du moment :</p>
        <p class="p-1 h-1/6 rounded text-white">
          ddlflflf;g; dkkfkgkglggldldmvngklllss
        </p>
        <p class="p-1 h-1/6 rounded text-white">
          ddlflflf;g; dkkfkgkglggldldmvngklllss
        </p>
        <p class="p-1 h-1/6 rounded text-white">
          ddlflflf;g; dkkfkgkglggldldmvngklllss
        </p>
      </div> -->
    <!-- </div> -->
    <!-- <app-carousel></app-carousel> -->
    <app-carousel [images]="images"></app-carousel>
  </div>
  <!-- body -->
  <div class="w-full top-[500px] lg:top-[700px] absolute" id="trigger-div">
    <div class="w-full pb-9 pt-9 flex justify-center"></div>
    <div class="w-full pb-9 pt-9 flex flex-col lg:flex-row justify-center gap-4 bg-gray-100">
      <div
        class="min-w-[500px] flex flex-col justify-start items-center border-[1px] border-gray-300 bg-white"
      >
        <h1 class="text-2xl mt-4 mb-9 font-bold">PRÉSENTATION KONDZI.COM</h1>
        <!-- <div
          class="w-11/12 rounded mb-9 h-96 shadow-md border-[1px] border-gray-300 bg-white"
        > -->
        <!-- <youtube-player class="w-1/4 bg-blue-400 h-auto" videoId="bGxRcV7EUtg"></youtube-player> -->
        <!-- <iframe  width="95%" height="345" src="https://www.youtube.com/embed/bGxRcV7EUtg">
        </iframe> -->
        <button class="youtube w-11/12 h-96 flex justify-center items-center" >
          <span (click)="openModal()" class="material-symbols-outlined text-7xl transition-all text-red-700 hover:text-9xl">
            smart_display
            </span>
        </button>
        <!-- <div  src="" width="95%" alt="Aperçu de la vidéo" /> -->

        <!-- <button class="absolute mt-1/6 bg-blue-300" (click)="openModal()">ouvrire</button> -->
        <!-- </div> -->
        <!-- article -->
        <div
          class="w-11/12 rounded mt-9 mb-9 shadow-lg border-[1px] border-gray-300 bg-white"
        >
          <div class="w-full h-24 bg-orange-500"></div>
          <div class="w-full p-4">
            <h1 class="mb-7 font-bold">
              Le jeûne occasionnel est-il bon pour la santé ? Permet-il de
              perdre du poids ?
            </h1>
            <p class="text-left text-sm">
              Publié le 19/12/2022 <br />Proposé par Santé.fr Décryptage
            </p>
            <button
              class="transition mt-4 border rounded-full border-ps-green text-ps-green w-1/2 px-4 py-4 hover:bg-ps-green hover:text-white"
            >
              LIRE L'ARTICLE
            </button>
          </div>
        </div>
        <div
          class="w-11/12 rounded mb-9 shadow-lg border-[1px] border-gray-300 bg-white"
        >
          <div class="w-full h-24 bg-orange-500"></div>
          <div class="w-full p-4">
            <h1 class="mb-7 font-bold">
              Le jeûne occasionnel est-il bon pour la santé ? Permet-il de
              perdre du poids ?
            </h1>
            <p class="text-left text-sm">
              Publié le 19/12/2022 <br />Proposé par Santé.fr Décryptage
            </p>
            <button
              class="transition mt-4 border rounded-full border-ps-green text-ps-green w-1/2 px-4 py-4 hover:bg-ps-green hover:text-white"
            >
              LIRE L'ARTICLE
            </button>
          </div>
        </div>
        <!-- article -->
      </div>
      <div
        class="w-[22%] flex flex-col justify-start items-center border-[1px] border-gray-300 bg-white"
      >
        <h1 class="text-2xl mt-4 mb-9 font-bold">NOS SÉLECTIONS</h1>
        <!-- article -->
        <div
          class="w-11/12 rounded mb-9 shadow-lg border-[1px] border-gray-300 bg-white"
        >
          <div class="w-full h-24 bg-orange-500"></div>
          <div class="w-full p-4">
            <h1 class="mb-7 font-bold">
              Le jeûne occasionnel est-il bon pour la santé ? Permet-il de
              perdre du poids ?
            </h1>
            <p class="text-left text-sm">
              Publié le 19/12/2022 <br />Proposé par Santé.fr Décryptage
            </p>
            <button
              class="transition mt-4 border rounded-full border-ps-green text-ps-green w-1/2 px-4 py-4 hover:bg-ps-green hover:text-white"
            >
              LIRE L'ARTICLE
            </button>
          </div>
        </div>
        <div
          class="w-11/12 rounded mb-9 shadow-lg border-[1px] border-gray-300 bg-white"
        >
          <div class="w-full h-24 bg-orange-500"></div>
          <div class="w-full p-4">
            <h1 class="mb-7 font-bold">
              Le jeûne occasionnel est-il bon pour la santé ? Permet-il de
              perdre du poids ?
            </h1>
            <p class="text-left text-sm">
              Publié le 19/12/2022 <br />Proposé par Santé.fr Décryptage
            </p>
            <button
              class="transition mt-4 border rounded-full border-ps-green text-ps-green w-1/2 px-4 py-4 hover:bg-ps-green hover:text-white"
            >
              LIRE L'ARTICLE
            </button>
          </div>
        </div>
        <!-- article -->
      </div>
      <div class="w-[400px]">
        <div
          class="w-full h-32 mb-9 flex flex-col justify-center items-center rounded border-2 border-red-600 bg-white"
        >
          <h1 class="text-xl text-red-600 font-bold">EN CAS D'URGENCE</h1>
          <button
            class="transition mt-4 border rounded-full border-red-600 text-white px-4 py-2 bg-red-600 hover:text-white"
          >
            Conseils & numéros utiles
          </button>
        </div>

        <div
          class="w-full mb-9 pt-16 pb-16 rounded-tl-[23%] rounded-br-[23%] flex flex-col justify-start items-center bg-ps-green"
        >
          <h1 class="text-2xl mb-9 font-bold text-white">NOS SERVICES</h1>
          <ul class="w-full flex flex-wrap justify-center gap-4 items-center">
            <li
              class="w-[35%] h-auto overflow-hidden rounded-3xl bg-white flex justify-center items-center"
            >
              <img class="h-full" src="images/Actualités santé.jpg" alt="" />
            </li>
            <li
              class="w-[35%] h-auto rounded-3xl overflow-hidden bg-white flex justify-center items-center"
            >
              <img
                class="h-full"
                src="images/Repertoire et adresses.jpg"
                alt=""
              />
            </li>
            <li
              class="w-[35%] h-auto rounded-3xl overflow-hidden bg-white flex justify-center items-center"
            >
              <img class="h-full" src="images/Bien être.jpg" alt="" />
            </li>
            <li
              class="w-[35%] h-auto rounded-3xl overflow-hidden bg-white flex justify-center items-center"
            >
              <img class="h-full" src="images/MediaSanté.jpg" alt="" />
            </li>
          </ul>
        </div>
        <div
          class="w-full pt-16 overflow-hidden rounded-tl-3xl rounded-br-3xl flex flex-col justify-start items-center bg-ps-green"
        >
          <h1 class="text-2xl mb-9 font-bold text-white text-center">
            INSTITUTIONS & PARTENAIRES EN CHARGE DE LA SANTE AU TOGO
          </h1>
          <div
            class="w-full h-80 rounded-tl-3xl flex justify-center items-center bg-white"
          >
            <ul
              class="w-11/12 h-5/6 flex flex-col items-center justify-start gap-4 overflow-auto"
            >
              <li class="w-full flex flex-col">
                <p>
                  Ministère de la santé, de l’Hygiène Publique et de l’Accès
                  Universel aux soins
                </p>
                <a
                  class="text-green-600 hover:text-red-500 font-bold"
                  href="https://sante.gouv.tg/"
                  >https://sante.gouv.tg/</a
                >
              </li>
              <li class="w-full flex flex-col">
                <p>OMS TOGO</p>
                <a
                  class="text-green-600 hover:text-red-500 font-bold"
                  href="https://www.afro.who.int/fr/countries/togo"
                  >https://www.afro.who.int/fr/countries/togo</a
                >
              </li>
              <li class="w-full flex flex-col">
                <p>
                  Conseil National de Lutte Contre le SIDA et les Infections
                  Sexuellement Transmissibles
                </p>
                <a
                  class="text-green-600 hover:text-red-500 font-bold"
                  href="https://cnlstogo.org/cnls/"
                  >https://cnlstogo.org/cnls/</a
                >
              </li>
              <li class="w-full flex flex-col">
                <p>Ordre National des Médecins du Togo</p>
                <a
                  class="text-green-600 hover:text-red-500 font-bold"
                  href="https://www.onmt.tg/"
                  >https://www.onmt.tg/</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>

  <!-- body -->
</div>
@if (showModal) {
  <app-modal (close)="closeModal()">
    <iframe  width="95%" height="700" src="https://www.youtube.com/embed/bGxRcV7EUtg?autoplay=1" allow="autoplay; encrypted-media" allowfullscreen frameborder="0">
        </iframe>
  </app-modal>
}

